[submodule "src/MDD4All.Bitbucket.DataModels"]
	path = src/MDD4All.Bitbucket.DataModels
	url = https://github.com/oalt/MDD4All.Bitbucket.DataModels.git
[submodule "src/MDD4All.DevOpsObserver.DataModels"]
	path = src/MDD4All.DevOpsObserver.DataModels
	url = https://github.com/oalt/MDD4All.DevOpsObserver.DataModels.git
[submodule "src/MDD4All.DevOpsObserver.DataProviders.Bitbucket"]
	path = src/MDD4All.DevOpsObserver.DataProviders.Bitbucket
	url = https://github.com/oalt/MDD4All.DevOpsObserver.DataProviders.Bitbucket.git
[submodule "src/MDD4All.DevOpsObserver.DataProviders.Contracts"]
	path = src/MDD4All.DevOpsObserver.DataProviders.Contracts
	url = https://github.com/oalt/MDD4All.DevOpsObserver.DataProviders.Contracts.git
[submodule "src/MDD4All.DevOpsObserver.DataProviders.Integration"]
	path = src/MDD4All.DevOpsObserver.DataProviders.Integration
	url = https://github.com/oalt/MDD4All.DevOpsObserver.DataProviders.Integration.git
[submodule "src/MDD4All.DevOpsObserver.Apps.BlazorServer"]
	path = src/MDD4All.DevOpsObserver.Apps.BlazorServer
	url = https://github.com/oalt/MDD4All.DevOpsObserver.Apps.BlazorServer.git
[submodule "src/MDD4All.DevOpsObserver.Views"]
	path = src/MDD4All.DevOpsObserver.Views
	url = https://github.com/oalt/MDD4All.DevOpsObserver.Views.git
[submodule "src/MDD4All.DevOpsObserver.ViewModels"]
	path = src/MDD4All.DevOpsObserver.ViewModels
	url = https://github.com/oalt/MDD4All.DevOpsObserver.ViewModels.git
[submodule "src/MDD4All.DevOpsObserver.DataProviders.Github"]
	path = src/MDD4All.DevOpsObserver.DataProviders.Github
	url = https://github.com/oalt/MDD4All.DevOpsObserver.DataProviders.Github.git
[submodule "src/MDD4All.Github.DataModels"]
	path = src/MDD4All.Github.DataModels
	url = https://github.com/oalt/MDD4All.Github.DataModels.git
[submodule "src/MDD4All.DevOpsObserver.StatusCalculation"]
	path = src/MDD4All.DevOpsObserver.StatusCalculation
	url = https://github.com/oalt/MDD4All.DevOpsObserver.StatusCalculation.git
[submodule "src/MDD4All.DevOpsObserver.StatusLightControl.Hue"]
	path = src/MDD4All.DevOpsObserver.StatusLightControl.Hue
	url = https://github.com/oalt/MDD4All.DevOpsObserver.StatusLightControl.Hue.git
[submodule "src/MDD4All.DevOpsObserver.StatusLightControl.Contracts"]
	path = src/MDD4All.DevOpsObserver.StatusLightControl.Contracts
	url = https://github.com/oalt/MDD4All.DevOpsObserver.StatusLightControl.Contracts.git
